name: SWAD CI
# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [main]
  pull_request:
    branches: [main]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  format:
    name: lint, type check, format
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: npm ci
        run: npm ci
      - name: check lint and format
        run: npm run lint
      - name: build and deploy dry run
        run: npm run check
      - name: type check
        run: npm run typecheck
      # to include here: tests and builds
      # - name: build
      #   run: npm run build --if-present
